# deno install puts binaries here
export PATH="${HOME:?}/.deno/bin:${PATH:?}"

# export ANONYSTAT env vars from .env.
# Running `deno task config` will merge ANONYSTAT_* vars with
# anonystat-config.jsonc and print the result.
source_env_if_exists .env
export ${!ANONYSTAT*}
